server {
    listen 80;
    server_name bbs.colbrze.xyz colbrze.xyz www.colbrze.xyz *.colbrze.xyz;
    location /images {
        alias /var/www/web21/images;
    }

    location /static {
        alias /var/www/web21/static;
    }

    location / {
        proxy_pass http://localhost:2000;
    }
}
