{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
    <div class="panel">
        <div class="header">
            <ul class="breadcrumb">
                <li><a href="{{ url_for('index.index') }}">主页</a><span class="divider">/</span></li>
                <li class="active">注册</li>
            </ul>
        </div>
        <div class="cell" style="width: 30%; margin-left: 20px;">
        {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}
